<ion-view title="Batalla" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="batalla-button-bar1" class="button-bar">
      <button id="batalla-button6" class="button button-positive  button-block">1</button>
      <button id="batalla-button7" class="button button-positive  button-block">2</button>
    </div>
    <div id="batalla-button-bar2" class="button-bar">
      <button id="batalla-button9" class="button button-positive  button-block">3</button>
      <button id="batalla-button10" class="button button-positive  button-block">4</button>
    </div>
    <div id="batalla-form2" class="list">
      <label class="item item-input" id="batalla-input3">
        <span class="input-label">Input</span>
        <input type="text"  placeholder="Ingrese el Monto" name="Batalla.monto" ng-model="Batalla.monto">
      </label>
    </div>
    <button id="batalla-button12" class="button button-positive  button-block" ng-click="botonPrueba()">Crear Partida</button>
  </ion-content>
</ion-view>